<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Quiz 測驗</title>
    <style>

      body {
        width: 600px;
        background-color: #a4b494;
        margin: auto;
      }

      label {
        position: relative;  /* relative to 原位置。其他東西會以為你還待在原位 */
        left: 20px;    /* left,right,top...：在這個方向留空間 */
        white-space: nowrap; /* 溢出來也不管，讓他不要隨著視窗伸縮而改變排版 */
      }

      html {
        scroll-behavior: smooth; /* 在跳到下一個section時不是瞬移而是有流暢滑動的效果 */
      }

      .submit {
        margin-left: 40px;
        display: inline;  /* 下一個元素可以跟這個元素同一行 */
      }

    </style>


  </head>


</html>