<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Quiz 測驗</title>
    <style>

      body {
        width: 600px;
        background-color: #a4b494;
      }

      h4 {
        position: relative; /* relative: 其他元素會以為這個元素還在原本的位置 */
        left: 80px; /*left,right,top...：在這個方向留空間*/
      }

      label {
        position: absolute; /* absolute: 其他元素會當這個元素不存在 */
        left: 100px; 
        white-space: nowrap; /* 溢出來也不管：讓他不要隨著視窗伸縮而改變排版*/
      }

      html {
        scroll-behavior: smooth; /* 在跳到下一個section時不是瞬移而是有流暢滑動的效果 */
      }

    </style>


  </head>


</html>