<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Quiz 測驗</title>
    <style>

      body {
        width: 600px;
        background-color: #a4b494;
        margin: auto;
      }

      label {
        /* absolute: 其他元素會當這個元素不存在 */
        position: relative;
        left: 20px;    /*left,right,top...：在這個方向留空間*/
        white-space: nowrap; /* 溢出來也不管：讓他不要隨著視窗伸縮而改變排版*/
      }

      html {
        scroll-behavior: smooth; /* 在跳到下一個section時不是瞬移而是有流暢滑動的效果 */
      }

      .submit {
        margin-left: 40px;
        display: inline;
      }

    </style>


  </head>


</html>